.cart-dropdown {
    border: 1px solid black;
    width: 240px;
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    top: 90px;
    right: 40px;
    z-index: 5;

    button {
        margin-top: auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
      }
}
