.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 70px;
    width: 100%;

    .logo-container {
        padding: 25px;
        height: 100%;
        width: 70px;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 100%;

        .option {
            padding: 10px 15px;
        }
    }
}
